logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
# .vscode
*.swp
# *.lock
*.js
!.autod.conf.js
package.lock.json

app/**/*.js
app/**/*.d.ts
test/**/*.js
test/**/*.d.ts
config/**/*.js
config/**/*.d.ts
app/**/*.map
test/**/*.map
config/**/*.map
app/public/docs/*
config/*.local.ts
